<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- xml파일은 보통 쿼리를 담당한다 -->
<mapper namespace="org.zerock.mapper.Test1Mapper">
  
  
  <select id="getList" resultType="org.zerock.domain.Test1VO">
  
  	SELECT
  		id id,
  		name name,
  		age age
  		
  	FROM tbl_test1
  	
  	</select>
  	
  	<insert id="insert">
  		INSERT INTO tbl_test1 (name, age)
  		VALUES (#{name}, #{age})
  	</insert>
  	
  	<insert id="insertSelectKey" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
  		INSERT INTO tbl_test1 (name, age)
  		VALUES (#{name}, #{age}) <!-- name과 age는 알지만 id를 모를때 쓰는법 -->
  	</insert>
  	
  	<select id="read" resultType="org.zerock.domain.Test1VO">
  		SELECT * FROM tbl_test1 WHERE id = #{id}
  	</select>
  	
  	<delete id="delete">
  		DELETE FROM tbl_test1 WHERE id = #{id}
  	</delete>
  	
  	<update id="update">
  		UPDATE tbl_test1
  		
  		SET
  			name = #{name},
  			age = #{age}
  		
  		WHERE
  		 	id = #{id}
  	</update>
  	
  </mapper>
  	
  	